source config-usb.sh

HDINSTALL_ROOTFS="${ARTIFACTS_DIR}/cube-essential-genericx86-64.tar.bz2"

# Container attributes:
#   mounts=type|src|dst;type|src|dst... (see 'c3 cfg mount')
#   net=X (if X==1 the container will be the netprime, static IPs should us X>4)
#   cube.device.mgr=self (allow container access devices directly)
#   vty=X (where X>2) (place container console on specified virtual terminal)
#   mergepath=<path>,<container,[container]>
#   subuid=XXXX (specify unprivileged subuid/subgid)
#   console (container gets a virtual console)
#   hardconsole (container gets a physical console)
HDINSTALL_CONTAINERS="${ARTIFACTS_DIR}/cube-dom0-genericx86-64.tar.bz2:vty=2:mergepath=/usr,essential \
                      ${ARTIFACTS_DIR}/cube-desktop-genericx86-64.tar.bz2:vty=3:net=1:mergepath=/usr,essential,dom0 \
                      ${ARTIFACTS_DIR}/cube-server-genericx86-64.tar.bz2:subuid=800000"

NETWORK_DEVICE="enp0s3"

## Uncomment to use GPT
#INSTALL_USE_GPT=1

## Uncomment for grub legacy
#INSTALL_GRUBUSBCFG="menu.lst.initramfs-installer"
#INSTALL_GRUBCFG="${INSTALLER_FILES_DIR}/${INSTALL_GRUBUSBCFG}"
#INSTALL_GRUBEFI_CFG="${INSTALLER_FILES_DIR}/${INSTALL_GRUBUSBCFG}"

# Recalculate PREREQ_FILES
calc_prereq_files

# Add to the list of PREREQ_FILES
PREREQ_FILES="${PREREQ_FILES} ${HDINSTALL_ROOTFS} `strip_properties ${HDINSTALL_CONTAINERS}`"
