######################################################################
# Define some configuration variables

## Installer file locations
INSTALLER_FILES_DIR="/inst/images/"
INSTALLER_SBIN_DIR="/inst/installer/sbin"

INSTALL_KERNEL="${INSTALLER_FILES_DIR}/bzImage"
INSTALL_ROOTFS="${INSTALLER_FILES_DIR}/op3-graphical-builder-genericx86-64.tar.bz2"

#INSTALL_GRUBCFG="${INSTALL_GRUBHDCFG}"

HARDDRIVE_DEVICE="/sys/class/scsi_disk/0:0:0:0/device"
HARDDRIVE_MODEL="ST9120822SB     "

# Redefine the BOOTPART_START parameter for hard drive
BOOTPART_START="0"

# User probably want to reboot just after installation
CONFIRM_REBOOT=1

