source config-usb.sh

HDINSTALL_ROOTFS="${ARTIFACTS_DIR}/cube-essential-genericx86-64.tar.bz2"

HDINSTALL_CONTAINERS="${ARTIFACTS_DIR}/cube-dom0-genericx86-64.tar.bz2:vty=2:mergepath=/usr,essential \
                      ${ARTIFACTS_DIR}/cube-dom1-genericx86-64.tar.bz2:vty=3:mergepath=/usr,essential,dom0 \
                      ${ARTIFACTS_DIR}/cube-desktop-genericx86-64.tar.bz2:vty=4:net=1:mergepath=/usr,essential,dom0,dom1 \
                      ${ARTIFACTS_DIR}/cube-server-genericx86-64.tar.bz2:subuid=800000"

NETWORK_DEVICE="enp0s3"

## Uncomment for grub legacy
#INSTALL_GRUBUSBCFG="menu.lst.initramfs-installer"
#INSTALL_GRUBCFG="${INSTALLER_FILES_DIR}/${INSTALL_GRUBUSBCFG}"

# Recalculate PREREQ_FILES
calc_prereq_files

# Add to the list of PREREQ_FILES
PREREQ_FILES="${PREREQ_FILES} ${HDINSTALL_ROOTFS} `strip_properties ${HDINSTALL_CONTAINERS}`"
